@charset "utf-8";
tr.R15 { height: 17px; }
tr.R15 td.R51C10 { text-align: right; border-bottom: #000000 1px solid; }
tr.R15 td.R51C6, tr.R15 td.R51C6I, tr.R15 td.R51C6S { border-bottom: #000000 1px solid; }
tr.R15 td.R51C6I, tr.R15 td.R51C6S { overflow: visible; }
tr.R15 td.R51C6I span, tr.R15 td.R51C6S span { position: relative; }
tr.R15 td.R51C6I span img { position: absolute; width: 100px; top: -30px; }
tr.R15 td.R51C6S span img { position: absolute; width: 140px; top: 10px; left: -60px; }
tr.R15 td.R51C1 { font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; }



<!--		<style type="text/css">-->
<!--            tr.R15{ height: 17px; }-->
<!--            tr.R15 td.R51C10{ text-align: right; border-bottom: #000000 1px-->
<!--            solid; }-->
<!--            tr.R15 td.R51C6,tr.R15 td.R51C6I,tr.R15 td.R51C6S{ border-bottom:-->
<!--            #000000 1px solid; }-->
<!--            tr.R15 td.R51C6I,tr.R15 td.R51C6S { overflow: visible; }-->
<!--            tr.R15 td.R51C6I span,tr.R15 td.R51C6S span { position: relative; }-->
<!--            tr.R15 td.R51C6I span img { position: absolute; width: 100px; top:-->
<!--            -30px; }-->
<!--            tr.R15 td.R51C6S span img { position: absolute; width: 140px; top:-->
<!--            10px; left: -60px; }-->
<!--            tr.R15 td.R51C1{ font-family: Arial; font-size: 9pt; font-style:-->
<!--            normal; font-weight: bold; }-->
<!--        </style>-->